<!DOCTYPE html>
<html>
<head>
	<title>BLUE PULSE GROUP</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body style='overflow-x: hidden; overflow-y: hidden;'>
	<header>
		<div class="main">
			<div class="logo">
				<img src="Logobp.png"/>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Gallery</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div class='title'>
				<h1>SMART WATER METERING</h1>
			</div>
			<div class="login-box">
				<img src="prfpic.png" class="prfpic">
				<form class="register-form">
					<h1>Register Yourself</h1>
					<p>Username</p>
					<input type="text" placeholder="Enter Username"/>
					<p>Email Id / Mobile No.</p>
					<input type="text" placeholder="Enter Email Id / Mobile No."/>
					<p>Password</p>
					<input type="password" placeholder="Enter Password"/>
					<input type="submit" name="submit" value="Sign Up"/>
					<div class="registered">
						<p class="message">Already Registered? <a href="#">Log in</a></p>
					</div>
				</form>
				<form>

					<p>Email Id / Mobile No.</p>
					<input type="text" name="username" placeholder="Enter Email Id / Mobile No."/>
					<p>Password</p>
					<input type="password" name="password" placeholder="Enter Password"/>
					<input type="submit" name="submit" value="Log In"/>
					<a href="#">Forget Password</a>
					<div class="registration">
						<p class="message">Not Registered? <a href="#">Sign Up</a></p>
					</div>
				</form>
			</div>
		</div>
	</header>
	<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script> 
	<script>
		$('.message a').click(function(){
		$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
		});
	</script>
</body>
</html>
